<!-- error The Modal -->
<div class="modal" id="salaryModel">
  <div class="modal-dialog modal-sm modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Salary</h4>
        <button type="button" class="close closeModel" data-dismiss="modal" onclick="close_model('salaryModel'); return false;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-info">
          <span id="calculated_salary_model_text">After advance deducted</span>, Calculated Salary: Rs. <strong><span id="calculated_salary_model"></strong></span>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger closeModel" data-dismiss="modal" onclick="close_model('salaryModel'); return false;">Close</button>
      </div>

    </div>
  </div>
</div>
<div class="modal" id="ajaxError">
  <div class="modal-dialog modal-sm modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close closeModel" data-dismiss="modal" onclick="close_model('ajaxError'); return false;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-danger">
          <span id="calculated_salary_model_text">There is a ajax error, please try again!</span>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger closeModel" data-dismiss="modal" onclick="close_model('ajaxError'); return false;">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- error end The Modal -->

<!-- General The Modal -->
<div class="modal" id="generalModel">
  <div class="modal-dialog modal-sm modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="generalModelHeading"></h4>
        <button type="button" class="close closeModel" data-dismiss="modal" onclick="close_model('generalModel'); return false;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-info" id="generalModelBodyHtml">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger closeModel" data-dismiss="modal" onclick="close_model('generalModel'); return false;">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- General end modal -->

<div class="modal" id="expiryDateModel">
  <div class="modal-dialog modal-sm modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Software Expiration Notification</h4>
        <button type="button" class="close closeModel" data-dismiss="modal" onclick="close_model('expiryDateModel'); return false;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-info">
          Hi,
          <br>
          Thanks for using our service – we love having you as our customer. Your subscription will expiring <span class='expiryDateDisplay'></span>, so we thought we’d check in.
          <br>
          If you want to continue taking advantage of platform and retain all your data and preferences. it’s not late! You can got access to your saved data and preferences by renewing without any disturbance.
          <br>
          In case you have any issues or questions, don’t hesitate to talk to us.
          <br>
          <br>
          Thank you,
          <br>
          MunshiOnClick

        </div>
        <div class="alert alert-info urdu-font text-right">


                            اسلام علیکم صاحب
                            <br>
                    ہماری سروس استعمال کرنے کا شکریہ - ہمیں آپ کو اپنے صارف کے طور پر رکھنا پسند ہے۔ آپ کی سبسکرپشن کی میعاد جلد ختم ہو جائے گی <span class='expiryDateDisplay'></span>، لہذا ہم نے سوچا کہ ہم چیک ان کریں گے۔
                    <br>
                    اگر آپ پلیٹ فارم سے فائدہ اٹھانا جاری رکھنا چاہتے ہیں اور اپنے تمام ڈیٹا اور ترجیحات کو برقرار رکھنا چاہتے ہیں۔ دیر نہیں ہوئی! آپ بغیر کسی رکاوٹ کے تجدید کرکے اپنے محفوظ کردہ ڈیٹا اور ترجیحات تک رسائی حاصل کرسکتے ہیں۔
                    <br>
                    اگر آپ کو کوئی مسئلہ یا سوالات ہیں، تو ہم سے بات کرنے میں ہچکچاہٹ نہ کریں۔
                    <br>
                    <br>

                    شکریہ
                    <br>
                  MunshiOnClick      </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger closeModel" data-dismiss="modal" onclick="close_model('expiryDateModel'); return false;">Close</button>
      </div>

    </div>
  </div>
</div>
