<div class="cover-spin">
  <section>
    <div class="heartbeat-loader-container"><svg xmlns="http://www.w3.org/2000/svg" id="heartbeat-svg" data-name="Layer 1" viewBox="0 0 1700.02 433.37"><defs><style>.cls-1{fill:none;stroke:#0066cc;stroke-miterlimit:10;stroke-width:10px;}</style></defs><title>heartbeat</title><path stroke="#ffffff" class="cls-1" id="heartbeat-path" d="M0.02 293.53 623.71 291.07 665.88 229.19 733.04 414.52 807.51 22.53 891.1 337.37 953.42 244.77 997.34 293.47 997.35 293.47 1700.02 293.59"/></svg>
    <div>
  </section>
</div>
