<div class="card">
  <div class="card-header">
    <h3>New Production Block Type</h3>
  </div>
  <div class="card-body">
    <%= render 'form', production_block_type: @production_block_type %>
    </div>
</div>
