<div class="card border-radius-1 shadow p-3 m-3">
<h2><%= current_user.allowed_valid_roles.to_s.titleize %> Management</h2>
</div>
<% @btn_value = "Update "+current_user.allowed_valid_roles.to_s.titleize %>
<div class="m-3">
<%= render 'form', user: @user %>
</div>