<div class="links col-lg-6" style="float:left">
  <%= f.hidden_field :staff_id %>
  <%= f.hidden_field :id %>
  <div class="nested-fields">
    <div class="links"><%= link_to_remove_association "Remove", f , class: "btn btn-info" %></div>
  </div>
</div>
