<h1>Editing Daily Book</h1>

<%if  check_system_type(@pos_setting)=="batha"%>
  <%= render '/daily_books/batha/form_batha', daily_book: @daily_book %>
<%else%>
  <%= render 'form', daily_book: @daily_book %>
<%end%>

<script>
  setTimeout(function(){
    daily_book_update();
  }, 50);
</script>
