<h1>New Daily Book</h1>
<%= search_form_for @q, url: new_daily_book_path, class: "admin-controls", method: "get" do |f| %>
  <div class="col-lg-2 form-group float-left">
    <button class="form-control btn btn-secondary" name="submit_pdf" type="submit" value="Daily Production Details PDF A4" formtarget="_blank" ><i class="fa fa-file-pdf"></i> Daily</button>
  </div>
<% end %>
<%if  check_system_type(@pos_setting)=="batha"%>
  <%= render '/daily_books/batha/form_batha', daily_book: @daily_book %>
<%else%>
  <%= render 'form', daily_book: @daily_book %>
<%end%>
