<h1>Editing Expense Entry</h1>

<%= render 'form', expense_entry_voucher: @expense_entry_voucher %>

<%= link_to 'Show', @expense_entry_voucher %> |
<%= link_to 'Back', expense_entry_vouchers_path %>
