<div id="chart_div3"></div>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);
    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
        ['Years', 'Total sale'],
            <%if @sale_year.present?%>
              <% @sale_year.each do |sale| %>
              ['<%= sale.first%>',<%= sale.last%>],
              <% end %>
            <%else%>
              ['<%= Date.current.month%>',0],
            <%end%>
        ]);

        var options = {
        title: 'Total Sale Report By Years',
        chartArea: {width: '50%'},
        hAxis: {
            title: 'Total Sale',
            minValue: 0
        },
        vAxis: {
            title: 'Year'
        }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div3'));

        chart.draw(data, options);
    }
</script>
