<div class="card">
  <div class="card-header">
    <h1>Pay Advance </h1>
    <h2>Balance: <span id='wage_debit'>0.00</span> | OutStanding Balance: <span id='balance'>0.00</span></h2>
  </div>
  <div class="card-body">
    <%= render 'advance_form', salary: @salary %>
    </div>
</div>
