<div class="card border-radius-1 shadow-sm">
<div class="card-header p-4">
  <h1 class="float-left mt-3">Pay Advance </h1>
  <h3 class="float-right">
    <% if params[:salary_sheet].present? %>
      Balance: <span id='balance'>0.00</span>
    <% else %>
      Balance: <span id='wage_debit'>0.00</span>
      <br><hr>
      OutStanding Balance: <span id='balance'>0.00</span>
    <% end %>
  </h3>
</div>
</div>
<div class="card border-radius-1 shadow-sm p-3 mt-3">
  <%= render 'advance_form', salary: @salary %>
</div>

