<div class="card border-radius-1 shadow-sm ">
<div class="card-header p-4">
<h1 class="float-left">Pay Salary</h1> <h1 class="float-right">Balance: <span id='balance'>0.00</span></h1>
</div>
</div>
<div>
<%= render 'form', salary: @salary %>
</div>