
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your database backup file with date:<%= @date %> has been generated.</h3>
    <h3>Please click on this link to continue.</h3>
    <%= link_to 'Download File', @link %>
  </body>
</html>
