
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your <%= @typeingly %> Report Files for <strong><%= @company_name&.humanize %></strong> are attached Below.</p>
  </body>
</html>
