
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your <%= @typeingly %> Report File of <strong><%= @file_name.split('.')[0] %></strong> for <strong><%= @company_name&.humanize %></strong> is attached Below.</p>
  </body>
</html>
