
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your <%= @file_name.split('.')[0] %> report file is attached in this mail.</h3>
  </body>
</html>
