<div class="card shadow mb-4">
<!-- Card Header - Accordion -->
	<a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
		<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Video Tutorials of Software</h1></h6>
	</a>
	<!-- Card Content - Collapse -->
	<div class="collapse show" id="collapseCardExample1" style="">
		<div class="card-body">
			<div class="col-lg-6 form-group float-left">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Introduction Part 1</h6>
					</div>
					<div class="card-body">
						<iframe width="500" height="345" src="https://www.youtube.com/embed/ybn4exm0jX0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col-lg-6 form-group float-left">
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Introduction Part 2</h6>
					</div>
					<div class="card-body">
						<iframe width="500" height="345" src="https://www.youtube.com/embed/nKugKD7yvJ4" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>











<div class="card shadow mb-4">
		<!-- Card Header - Accordion -->
		<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
			<h6 class="m-0 font-weight-bold text-primary"><h1 style= "text-align : center">Help Related To Balance</h1></h6>
		</a>
		<!-- Card Content - Collapse -->
		<div class="collapse show" id="collapseCardExample" style="">
			<h1 class="text-xs font-weight-bold  text-uppercase mb-1 text-align :center" style="text-align :center">  Balance formula ->   Balance = Credit - Debit</h1>

			<div class="row">

				<div class="col-lg-6 float left">

					<h1 class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-align :center" style="text-align :center">Customer</h1>
				<table>
					<thead>
						<th>Debit</th>
						<th>Credit</th>
						<th>Balance</th>
					</thead>
					<tbody>
						<tr>
							<td>0</td>
							<td>5000</td>
							<td>5000</td>
						</tr><tr>
							<td>2000</td>
							<td>0</td>
							<td>3000</td>
						</tr><tr>
							<td>3000</td>
							<td>0</td>
							<td>0</td>
						</tr><tr>
							<td>2000</td>
							<td>0</td>
							<td>-2000</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div class="col-lg-6 float right">
					<h1 class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-align :center" style="text-align :center">Customer</h1>
				<table>
					<thead>
						<th>Debit</th>
						<th>Credit</th>
						<th>Balance</th>
					</thead>
					<tbody>
						<tr>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr><tr>
							<td>0</td>
							<td>2000</td>
							<td>2000</td>
						</tr><tr>
							<td>0</td>
							<td>3000</td>
							<td>5000</td>
						</tr><tr>
							<td>0</td>
							<td>2000</td>
							<td>7000</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
			<div class="col-xl-12 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-align :center" style="text-align :center">
										<h3>IN ABOVE SCENARIO</h3>
										<h5>   <b>-></b> if 	Customer Balance <b>EQUALS(=)</b>   Positive   than Customer is Reciveable.<br>
											 <b>-></b> if 	Customer Balance   <b>EQUALS(=)</b>   Negative   than Customer is Payable.</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-lg-6 float left">
						<h1 class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-align :center" style="text-align :center">Supplier/Both</h1>
					<table>
						<thead>
							<th>Debit</th>
							<th>Credit</th>
							<th>Balance</th>
						</thead>
						<tbody>
							<tr>
								<td>0</td>
								<td>5000</td>
								<td>5000</td>
							</tr><tr>
								<td>2000</td>
								<td>0</td>
								<td>3000</td>
							</tr><tr>
								<td>3000</td>
								<td>0</td>
								<td>0</td>
							</tr><tr>
								<td>2000</td>
								<td>0</td>
								<td>-2000</td>
							</tr>
						</tbody>
					</table>
					</div>
					<div class="col-lg-6 float right">
						<h1 class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-align :center" style="text-align :center">Company Account</h1>
					<table>
						<thead>
							<th>Debit</th>
							<th>Credit</th>
							<th>Blance</th>
						</thead>
						<tbody>
							<tr>
								<td>5000</td>
								<td>0</td>
								<td>-5000</td>
							</tr><tr>
								<td>0</td>
								<td>0</td>
								<td>0</td>
							</tr><tr>
								<td>0</td>
								<td>0</td>
								<td>0</td>
							</tr><tr>
								<td>0</td>
								<td>0</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				<div class="col-xl-12 col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-align :center" style="text-align :center">
											<h3>IN ABOVE SCENARIO</h3>
											<h5>   <b>-></b> if 	Supplier Balance <b>EQUALS(=)</b>   Positive   than Supplier is Reciveable.<br>
												 <b>-></b> if 	Supplier Balance   <b>EQUALS(=)</b>   Negative   than Supplier is Payable.</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
	</div>
