<style>
label, input{
  cursor: pointer;
}
</style>
<div class="row card border-radius-1 shadow p-3 m-4">
  <h2>Plots Map</h2>
  <div id="map-menu">
    <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite" checked="checked">
    <!-- See a list of Mapbox-hosted public styles at -->
    <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
    <label for="satellite-streets-v12">Satellite Streets</label>
    <input id="light-v11" type="radio" name="rtoggle" value="light">
    <label for="light-v11">Light</label>
    <input id="dark-v11" type="radio" name="rtoggle" value="dark">
    <label for="dark-v11">Dark</label>
    <input id="streets-v12" type="radio" name="rtoggle" value="streets">
    <label for="streets-v12">Streets</label>
    <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors">
    <label for="outdoors-v12">Outdoors</label>
  </div>
</div>
<div class="card border-radius-1 shadow m-4 p-2">
  <div id='map' style='height: 700px; width: 100%;'></div>
</div>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXVuc2hpb25jbGljayIsImEiOiJjbGQ4b3BldTMwMTA3M3ZvMjQ2M2t5azdkIn0.wtfWOmgnKfW51rkEMA8dxQ';
  const map = new mapboxgl.Map({
  container: 'map',
  zoom: 8,
  center: [74.3436, 31.4774],

  // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
  style: 'mapbox://styles/mapbox/satellite-streets-v12'
  });

  const bounds = [[74.425, 31.437], [73.516, 31.936]];
  map.fitBounds(bounds);
  map.on('load', () => {
  map.addSource('radar', {
    'type': 'image',
    'url': 'map.png',
  'coordinates': [
       [74.212, 31.407], 
       [74.419, 31.407],
       [74.419, 31.314], 
       [74.212, 31.314]
    ]
  });

  map.addLayer({
  id: 'radar-layer',
  'type': 'raster',
  'source': 'radar',
  'paint': {
  'raster-fade-duration': 0
  }
  });
  });
  const geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  flyTo: {
  bearing: 0,
  speed: 1.25, // Make the flying slow.
  curve: 2, // Change the speed at which it zooms out.
  easing: function (t) {
    return t;
  }
  },
  mapboxgl: mapboxgl
  });
 
  // Add the geocoder to the map/
  map.addControl(geocoder);
  map.addControl(new mapboxgl.NavigationControl());
  map.addControl(new mapboxgl.GeolocateControl());
  map.addControl(new mapboxgl.ScaleControl());
  map.addControl(new mapboxgl.FullscreenControl());

  // // Create a default Marker and add it to the map.
  const marker1 = new mapboxgl.Marker()
  .setLngLat([74.3436, 31.4774])
  .addTo(map);

  const layerList = document.getElementById('map-menu');
  const inputs = layerList.getElementsByTagName('input');
  
  for (const input of inputs) {
  input.onclick = (layer) => {
  const layerId = layer.target.id;
  map.setStyle('mapbox://styles/mapbox/' + layerId);
  };
  }
</script>



