<div class="card">
  <div class="card-header">
    <%if params[:account_id].present? %>
    <h3>New Payment </h3>
    <%else%>
    <h3>New Payment</h3>
    <%end%>
  </div>
  <div class="card-body">
    <%= render 'form', payment: @payment %>
    </div>
</div>
