
<div class="card">
  <div class="card-header">
    <h3>
      <% if params[:benam].present?%>
      <h2>Benam Ledger Book</h2>
      <%elsif params[:Sbenam].present?%>
      <h2>Benam Ledger Book</h2>
      <%elsif params[:Sjama].present?%>
      <h2>Jama Ledger Book</h2>
      <%else%>
      <h2>Jama Ledger Book</h2>
      <%end%>
    </h3>
  </div>
  <div class="card-body">
    <%= render 'form', ledger_book: @ledger_book %>
    </div>
</div>
