<%= af.hidden_field :id %>
<div class="col-lg-6" style="float:left">
  <%= af.select :city_id, options_from_collection_for_select(@cities, 'id', 'title',af.object.city_id.present? ? af.object.city_id : @cities&.first&.id),{},{class: "form-control"} %>
</div>
<div class="col-lg-6" style="float:left">
  <%= af.select :country_id, options_from_collection_for_select(@countries, 'id', 'title',af.object.country_id.present? ? af.object.country_id : @countries&.first&.id ),{},{class: "form-control"} %>
</div>
