<div class="modal fade" id="showdData" tabindex="-1" role="dialog" aria-labelledby="showdDataLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"><h1>City Details</h1></h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample" style="">
      <div class="card-body">
        <table>
          <thead>
            <th><h4>Id</h4></th>
            <th><h4>Name</h4></th>
            <th><h4>Comment</h4></th>
         </thead>
          <tbody>
            <tr>
              <td><h6><%= city.id %></h6></td>
              <td><h6><%= city.title %></h6></td>
              <td><h6><%= city.comment %><h6></td>
            </tr>
         </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
<div class="modal-footer">
        <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
          <span class="text-light p-2">Close</span>
        </button>
      </div>
     </div>  
    </div>
    </div>
  </div>
</div>