<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"><h1>Raw product Details</h1></h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample" style="">
      <div class="card-body">

<div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Product sender:<h5> <%= @product_stock_exchange.product_id %></h5></h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Product recipient:<h5><%= @product_stock_exchange.product_recipient_id %></h5> </h3>
          </div>
          <div class="col-lg-3 form-group float-left card mb-4 py-3 border-left-primary shadow h-100 py-2">
            <h3>Quantity:<h5><%= @product_stock_exchange.quantity %></h5></h3>
          </div>
        </div>
</div>

        <div class="row">
          <div class="col-lg-1 float-left">
            <%= link_to product_stock_exchanges_path do %>
            <i class="fa fa-arrow-left " aria-hidden="true"></i>
            <% end %>
          </div>
        </div>

      </div>
    </div>
</div>
