.my_blinker {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.follow_num {
  position: absolute;
  left: 45px;
  top: 5px;
  color: #fff;
}

.my_follow_btn {
  position: fixed;
  right: 50px;
  bottom: 100px;
}

.bg-unread-color{
  background-color: rgba(204, 255, 245, 0.4);
}
