.my_blinker {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.follow_num {
  position: absolute;
  left: 60px;
  top: 5px;
  color: #fff;
}
.my_follow_btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 45%;
  margin-left: 90%;  
}



