.my_blinker {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.follow_num {
  position: absolute;
  left: 45px;
  top: 5px;
  color: #fff;
}

.my_follow_btn {
  position: fixed;
  right: 30px;
  bottom: 60px;
}

.bg-unread-color{
  background-color: rgba(168, 236, 223, 0.4);
}

.requested-blink{
  position: absolute;
  top: -7px;
  right: -3px;
  background: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
  color: white;
  animation: blinker 2s linear infinite;
}

.blinker-index{
  background: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  animation: blinker 2s linear infinite;
}
