.my-chart-Container {
  display: flex;
  justify-content: center;
}

.mychartBox {
  width: 900px;
  height: 600px;
  padding: 20px;
  background: white;

}

@media only screen and (max-width: 700px) {
  .mychartBox {
    width: 90%;
    height: 45%;
  }
}

@media only screen and (max-width: 400px) {
  .mychartBox {
    width: 300px;
    height: 300px;
    padding: 20px;
  }
}

@media only screen and (max-width: 300px) {
  .mychartBox {
    width: 200px;
    height: 200px;
    padding: 20px;
  }
}
.my-chart-Container1 {
  display: flex;
  justify-content: center;
}

.mychartBox1 {
  width: 100%;
  height: 600px;
  padding: 20px;
  background: white;

}
.mychartBox1 {
  padding: 20px;
  background: white;

}
.chartWrapper {
  position: relative;
    
}
.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
}
.chartAreaWrapper {
  overflow-x: auto;
  position: relative;
  min-width: 100%;
}
.chartAreaWrapper2 {
  width: 100%;
  position: relative;
  height: 600px;
}