.close-card {
  width: 135px;
  height: 135px;
  display: flex;
  align-items: center;
  text-align: center;
}
.hov-btn {
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.5, 1);
}
.hov-btn:hover {
  transform: scale(1.2);
  border: 2px solid #bdbdbd;
}
.dev-card {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
}