.img-select[type="file"] {
  border: none;
}

.img-select[type="file"]::file-selector-button {
  border: 2px solid rgb(28, 26, 128);
  padding: 0.1em 0.4em;
  border-radius: 0.2em;
  background-color: rgb(28, 26, 128);
  transition: 0.5s;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.img-select[type="file"]::file-selector-button:hover {
  background-color: blue;
  color: white;
  border: 2px solid blue;
}