.bond_pos_pdf {
  /* font-family: 'Times New Roman'; */
  font-size: 12px;
  padding-left: 2px;
}
.fee_due{
  text-transform:capitalize;
  font-variant:small-caps;
  font-size: 18px;
}
.pdf_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.space_btw_sts{
  margin-top: 10px;
}

p span {
  font-weight: bold;
}
.nobreak {
  page-break-inside: avoid;
}
.page-break {
  display:block;
  clear:both;
  page-break-after:always;
}
.break-after {
  display:block;
  clear:both;
  page-break-after: always;
}
table { width: 100%; }
td {
  border-bottom: 1px solid #ddd;
}
td.broder-with {
  border: 1px solid #ddd;
}
* {
  box-sizing: border-box;
}

.logo_left_text_center {
  max-width: 50%;
  float: left;
  width: 50%;
}
.logo_left_text_center_text {
  max-width: 50%;
  width: 50%;
  text-align: left;
  float: right;
}

.logo_right_text_center {
  float: right;
  flex: 0 0 50%;
  max-width: 50%;
}
.logo_right_text_center_text {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: right;
}



.logo_disable_text_center {
  display: none;
}
.logo_disable_text_center_text {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.logo_center_text_disable {
  max-width: 100%;
  width: 100%;
  text-align: center;
}
.logo_center_text_disable_text {
  display: none;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.table1 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.pdf_font{
  font-size:15px;
  text-align: center;
  font-family: Arial Black, Gadget, sans-serif
}
.pdf_font1{
  font-size:14px;
  text-align: left;
  font-family: Arial Black, Gadget, sans-serif
}

.profile_image{
  float: left;
  width: 150px;
  height: 115px;
}
.footer {
  font-family: Arial Black, Gadget, sans-serif
}

.header {
  position: relative;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.short-column { background: #f2f2f2; width: 15%; }
.long-column { background: lime; width: 70%; }

.lite-red { background: #fdf9f9;; }
.lite-gray { background: #f2f2f2; }
.gray { background: #cccccc; }
.col-table-3 { max-width: 50%; float: left;}
.col-table-5 { float: left; width: 25%;}
.col-table-10 { float: left; width: 100%;}
.td-bold{font-weight: bold;}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }
