// Place all the styles related to the purchase_sale_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seller_stamp_color{
  background-color: #FFFF00 !important;
}
.buyer_stamp_color{
  background-color: #4CBB17 !important;
}
.both_stamp_color{
  background-color: #17a2b8 !important;
}

.seller_stamp_card{
  color: #FFFF00 !important;
}
.buyer_stamp_card{
  color: #4CBB17 !important;
}
.both_stamp_card{
  color: #17a2b8 !important;
}