
<div class="card">

  <div class="card-header">
    <h3>New CMS User</h3>
  </div>
  <div class="card-body">
    <%= render 'form', sys_user: @sys_user, model: @sys_user, local: true,  method: :post, url: customer_management_systems_path(@sys_user) %>
    </div>
</div>
