<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @staff_raw_product.staff %>
</p>

<p>
  <strong>Raw product:</strong>
  <%= @staff_raw_product.raw_product %>
</p>

<%= link_to 'Back', staff_raw_products_path %>
