<div class="row ">
  <div class="col-lg-6 form-group float-left">
    <%= f.text_field :name, placeholder: "Enter Client Name", label: "Client Name", value: "#{@sale_deal&.sys_user&.name}" %>
  </div>
  <div class="col-lg-6 form-group">
    <%= f.text_field :occupation , placeholder:"Enter Client Number", label: "Client Number", value: "#{@sale_deal&.sys_user&.occupation}" %>
  </div>
</div>
