<div class="card">
  <div class="card-header">
    <h3><%= params[:type].eql?('NewSaleDeal') ? 'Edit Fresh Sale Deals' : 'Edit Re Sale Deals' %></h3>
  </div>
  <div class="card-body">
    <%= render params[:type].eql?('NewSaleDeal') ? 'form_fresh_sale' : 'form_resale', sale_deal: @sale_deal, model: @sale_deal, local: true,  method: :put, url: sale_deal_path(@sale_deal) %>
  </div>
</div>
