
<div class="card">
  <div class="card-header">
    <h3><%=  params[:type].present? ? 'Re Sale Deal' : 'Fresh Sale Deal' %></h3>
  </div>
  <div class="card-body">
    <%= render params[:type].present? ? 'form' : 'form_new', sale_deal: @sale_deal, model: @sale_deal, local: true,  method: :post, url: sale_deals_path(@sale_deal) %>
  </div>
</div>
