<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag ("pdf") -%>
    <style>
      .text-center{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
      .text-left{
        text-align: left;
      }
      .d-flex{
        display: flex;
        display: -webkit-box;
        margin-bottom: 30px;
      }
      .col-3{
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
        width: 25%;
      }
      .border-bottom{
        border-bottom: 1px solid black;
      }
      .px-20{
        padding: 0px 20px;
      }
      .watermark{
        position: fixed;
        top: 38%;
        left: 48%;
        opacity: 0.3;
      }
      .font-size-custom{
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <% if params[:type].eql?('NewSaleDeal') %>
      <%= render partial: 'fresh_sale_deal_reciept' %>
    <% else %>
      <%= render partial: 'resale_deal_reciept' %>
    <% end %>
  </body>
</html>