<!DOCTYPE html>
<html>
<head>
    <title>POS</title>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
</head>

<%@total_pro=0%>
<%@total_discont=0%>
<%@total=0%>

<body class="bond_pos_pdf">
<div >
    <table>
      <tbody>
        <%@str.each do |str| %>
        <tr class="lite-gray">
           <td colspan="2"> <h1 style="text-align: center; margin: 0;"><%= @pos_setting.display_name%></h1></td>
        </tr>
          <tr>
            <td><h2><%= str.second rescue 'nil'%></h2></td>
            <td><img width="150px" height="115px" class="figure" style=""src=<%="data:image/svg+xml;base64,"+str.last%> ></img></td>
          </tr>
          <tr class="lite-gray">
            <td colspan="2"></td>
          </tr>
          <%end%>
      </tbody>
    </table>
</div>
</body>
</html>
